<section class="section-item">
    <div class="title">
        <span class="badge title h2 margined">
            <i class="fa fa-briefcase"></i>
        </span>
        <h1 class="title">{{ 'workExperiences.title' | translate }}</h1>
    </div>

    <article>
        <h2 class="title event">{{ 'workExperiences.fullStackWebDeveloper.title' | translate }}</h2>
        <p class="metadata">
            <span class="location">
                <i class="fa fa-building"></i> Liberty Rider
            </span>
            <span class="date">
                <i class="fa fa-calendar"></i>
                2 Octobre 2017 - Today
            </span>
        </p>
        <p class="event content">
            <span [innerHTML]="'workExperiences.fullStackWebDeveloper.textPart1' | translate"></span>
        </p>
        <p [innerHTML]="'workExperiences.technicalEnvironment' | translate"></p>
        <div class="container-fluid">
            <div class="row technology-list">
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/javascript.png" alt="javascript" class="image technology">
                    <div class="technology-title">
                        JavaScript
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/typescript.png" alt="typescript" class="image technology">
                    <div class="technology-title">
                        JavaScript
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/node.png" alt="Node.js" class="image technology">
                    <div class="technology-title">
                        TypeScript
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/angular.png" alt="Angular 4+" class="image technology">
                    <div class="technology-title">
                        Angular
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/rxjs.png" alt="RxJS" class="image technology">
                    <div class="technology-title">
                        RxJS
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/graphql.png" alt="GraphQL" class="image technology">
                    <div class="technology-title">
                        GraphQL
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/sass.png" alt="SASS" class="image technology">
                    <div class="technology-title">
                        SASS
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/webpack.png" alt="WebPack" class="image technology">
                    <div class="technology-title">
                        WebPack
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/git.png" alt="Git" class="image technology">
                    <div class="technology-title">
                        Git
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/firebase.png" alt="Firebase" class="image technology">
                    <div class="technology-title">
                        Firebase
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/aws.png" alt="Amazon Web Services" class="image technology">
                    <div class="technology-title">
                        Amazon Web Services
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/circleci.png" alt="CircleCI" class="image technology">
                    <div class="technology-title">
                        CircleCI
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article>
        <h2 class="title event">{{ 'workExperiences.reactEngineer.title' | translate }}</h2>
        <p class="metadata">
            <span class="location">
                <i class="fa fa-building"></i> Capgemini
            </span>
            <span class="date">
                <i class="fa fa-calendar"></i>
                3 Mars 2017 - 1 Septembre 2017
            </span>
        </p>
        <p class="event content">
            <span [innerHTML]="'workExperiences.reactEngineer.textPart1' | translate"></span>
        </p>
        <p [innerHTML]="'workExperiences.technicalEnvironment' | translate"></p>
        <div class="container-fluid">
            <div class="row technology-list">
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/javascript.png" alt="javascript" class="image technology">
                    <div class="technology-title">
                        JavaScript
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/react.png" alt="react" class="image technology">
                    <div class="technology-title">
                        React
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/node.png" alt="redux.js" class="image technology">
                    <div class="technology-title">
                        Redux
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/sass.png" alt="SASS" class="image technology">
                    <div class="technology-title">
                        SASS
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/webpack.png" alt="WebPack" class="image technology">
                    <div class="technology-title">
                        WebPack
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/git.png" alt="Git" class="image technology">
                    <div class="technology-title">
                        Git
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/elasticsearch.png" alt="Elastic Search" class="image technology">
                    <div class="technology-title">
                        Elastic Search
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/aws.png" alt="Amazon Web Services" class="image technology">
                    <div class="technology-title">
                        Amazon Web Services
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article>
        <h2 class="title event">{{ 'workExperiences.javascriptEngineer.title' | translate }}</h2>
        <p class="metadata">
            <span class="location">
                <i class="fa fa-building"></i> Capgemini
            </span>
            <span class="date">
                <i class="fa fa-calendar"></i>
                14 Novembre 2016 - 2 Mars 2017
            </span>
        </p>
        <p class="event content">
            <span [innerHTML]="'workExperiences.javascriptEngineer.textPart1' | translate"></span>
        </p>
        <p [innerHTML]="'workExperiences.technicalEnvironment' | translate"></p>
        <div class="container-fluid">
            <div class="row technology-list">
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/javascript.png" alt="javascript" class="image technology">
                    <div class="technology-title">
                        JavaScript
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/sass.png" alt="SASS" class="image technology">
                    <div class="technology-title">
                        SASS
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/requirejs.png" alt="Require.js" class="image technology">
                    <div class="technology-title">
                        Require.js
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/git.png" alt="Git" class="image technology">
                    <div class="technology-title">
                        Git
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article>
        <h2 class="title event">{{ 'workExperiences.angular2Developer.title' | translate }}</h2>
        <p class="metadata">
            <span class="location">
                <i class="fa fa-building"></i> Twinipix
            </span>
            <span class="date">
                <i class="fa fa-calendar"></i> 18 Juillet 2016 - 18 Octobre 2016
            </span>
        </p>
        <p class="event content">
            <span [innerHTML]="'workExperiences.angular2Developer.textPart1' | translate"></span>
        </p>
        <p [innerHTML]="'workExperiences.technicalEnvironment' | translate"></p>
        <div class="container-fluid">
            <div class="row technology-list">
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/typescript.png" alt="TypeScript" class="image technology">
                    <div class="technology-title">
                        TypeScript
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/angular.png" alt="Angular" class="image technology">
                    <div class="technology-title">
                        Angular
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/firebase.png" alt="Firebase" class="image technology">
                    <div class="technology-title">
                        Firebase
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/facebook.png" alt="Facebook" class="image technology">
                    <div class="technology-title">
                        Facebook
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/semantic-ui.png" alt="Semantic UI" class="image technology">
                    <div class="technology-title">
                        Semantic UI
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/git.png" alt="Git" class="image technology">
                    <div class="technology-title">
                        Git
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article>
        <h2 class="title event">{{ 'workExperiences.phpDeveloper1.title' | translate }}</h2>
        <p class="metadata">
            <span class="location">
                <i class="fa fa-building"></i> Prep'App</span>
            <span class="date">
                <i class="fa fa-calendar"></i> 01 Novembre 2014 - 28 Juin 2016</span>
        </p>
        <p class="event content">
            <span [innerHTML]="'workExperiences.phpDeveloper1.textPart1' | translate"></span>
        </p>
        <p [innerHTML]="'workExperiences.technicalEnvironment' | translate"></p>
        <div class="container-fluid">
            <div class="row technology-list">
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/javascript.png" alt="JavaScript" class="image technology">
                    <div class="technology-title">
                        JavaScript
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/php.png" alt="PHP" class="image technology">
                    <div class="technology-title">
                        PHP
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/git.png" alt="Git" class="image technology">
                    <div class="technology-title">
                        Git
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article>
        <h2 class="title event">{{ 'workExperiences.wordpressDeveloper.title' | translate }}</h2>
        <p class="metadata">
            <span class="location">
                <i class="fa fa-building"></i> 3WCOM
            </span>
            <span class="date">
                <i class="fa fa-calendar"></i> 20 Septembre 2014 - 31 Octobre 2014</span>
        </p>
        <p class="event content">
            <span [innerHTML]="'workExperiences.wordpressDeveloper.textPart1' | translate"></span>
            <br>
            <span [innerHTML]="'workExperiences.wordpressDeveloper.textPart2' | translate"></span>
        </p>
        <p [innerHTML]="'workExperiences.technicalEnvironment' | translate"></p>
        <div class="container-fluid">
            <div class="row technology-list">
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/wordpress.png" alt="Wordpress" class="image technology">
                    <div class="technology-title">
                        Wordpress
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/php.png" alt="PHP" class="image technology">
                    <div class="technology-title">
                        PHP
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article>
        <h2 class="title event">{{ 'workExperiences.phpDeveloper2.title' | translate }}</h2>
        <p class="metadata">
            <span class="location">
                <i class="fa fa-building"></i> Devster</span>
            <span class="date">
                <i class="fa fa-calendar"></i> 01 Novembre 2013 - 20 Décembre 2013</span>
        </p>
        <p class="event content">
            <span [innerHTML]="'workExperiences.phpDeveloper2.textPart1' | translate"></span>
        </p>
        <p [innerHTML]="'workExperiences.technicalEnvironment' | translate"></p>
        <div class="container-fluid">
            <div class="row technology-list">
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/javascript.png" alt="JavaScript" class="image technology">
                    <div class="technology-title">
                        JavaScript
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/php.png" alt="PHP" class="image technology">
                    <div class="technology-title">
                        PHP
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
