<section class="section-item bgcolor clouds remove-main-section-padding">
    <div class="title">
        <span class="badge title h2 margined">
            <i class="fa fa-laptop"></i>
        </span>
        <h1 class="title">{{ 'personalExperiences.title' | translate }}</h1>
    </div>

    <article>
        <h2 class="title event">{{ 'personalExperiences.tradingBot.title' | translate }}</h2>
        <p class="event content">
            <span [innerHTML]="'personalExperiences.tradingBot.description' | translate"></span>
        </p>
        <p [innerHTML]="'technicalEnvironment' | translate"></p>
        <div class="container-fluid">
            <div class="row technology-list">
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/typescript.png" alt="typescript" class="image technology">
                    <div class="technology-title">
                        TypeScript
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/node.png" alt="Node.js" class="image technology">
                    <div class="technology-title">
                        Node.js
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/mongodb.png" alt="Sequelize" class="image technology">
                    <div class="technology-title">
                        MongoDB
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/graphql.png" alt="GraphQL" class="image technology">
                    <div class="technology-title">
                        GraphQL
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/git.png" alt="Git" class="image technology">
                    <div class="technology-title">
                        Git
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/docker.png" alt="Docker" class="image technology">
                    <div class="technology-title">
                        Docker
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/aws.png" alt="Amazon Web Services" class="image technology">
                    <div class="technology-title">
                        Amazon Web Services
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article>
        <h2 class="title event">{{ 'personalExperiences.sniphub.title' | translate }}</h2>
        <p class="event content">
            <span [innerHTML]="'personalExperiences.sniphub.description' | translate"></span>
        </p>
        <p [innerHTML]="'technicalEnvironment' | translate"></p>
        <div class="container-fluid">
            <div class="row technology-list">
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/typescript.png" alt="typescript" class="image technology">
                    <div class="technology-title">
                        TypeScript
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/angular.png" alt="Angular" class="image technology">
                    <div class="technology-title">
                        Angular
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/firebase.png" alt="Firebase" class="image technology">
                    <div class="technology-title">
                        Firebase
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/elasticsearch.png" alt="Elastic Search" class="image technology">
                    <div class="technology-title">
                        Elastic Search
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-6 technology-item">
                    <img src="/assets/images/technologies/heroku.png" alt="Heroku" class="image technology">
                    <div class="technology-title">
                        Heroku
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article>
        <h2 class="title event">{{ 'personalExperiences.easyjs.title' | translate }}</h2>
        <p class="event content">
            <span [innerHTML]="'personalExperiences.easyjs.description' | translate"></span>
        </p>
    </article>

    <article>
        <h2 class="title event">{{ 'personalExperiences.neuralNetwork.title' | translate }}</h2>
        <p class="event content">
            <span [innerHTML]="'personalExperiences.neuralNetwork.description' | translate"></span>
        </p>
    </article>

    <article>
        <h2 class="title event">{{ 'personalExperiences.others.title' | translate }}</h2>
        <p class="event content">
            <span [innerHTML]="'personalExperiences.others.description' | translate"></span>
        </p>
    </article>
</section>
