<section class="section-item">
    <div class="title">
        <span class="badge title h2 margined"><i class="fa fa-code"></i></span>
        <h1 class="title">{{ 'skills.title' | translate }}</h1>
    </div>

    <article>
        <div class="event content">
            <ul class="float left width half list rounded migration to-unfloat w-to-max to-block">
                <li>
                    <span>JavaScript</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>Node.js</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>TypeScript</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>Angular 4+</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>React</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>HTML</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>SASS</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>CSS</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>MySQL / MariaDB</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>jQuery</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>Firebase</span>
                    <span class="float right">
                      <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star-o"></span>
                    </span>
                </li>
            </ul>
            <ul class="float right width half list rounded migration to-unfloat w-to-max to-block">
                <li>
                    <span>Bootstrap</span>
                    <span class="float right">
                      <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>Semantic-UI</span>
                    <span class="float right">
                      <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>MongoDB</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>NoSQL</span>
                    <span class="float right">
                      <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>SQL</span>
                    <span class="float right">
                      <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>UML</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>ElasticSearch</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>Linux</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>Design Pattern</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>SEO</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>C - C++</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
            </ul>
            <div class="clear both"></div>
        </div>
    </article>
</section>
