<section class="section-item bgcolor clouds remove-main-section-padding">
    <div class="title">
        <span class="badge title h2 margined"><i class="fa fa-code-fork"></i></span>
        <h1 class="title">{{ 'tools.title' | translate }}</h1>
    </div>

    <article>
        <div class="event content">
            <ul class="float left width half list rounded inverted migration to-unfloat w-to-max to-block">
                <li>
                    <span>NPM</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>Webpack</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>ESLint</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </li>
                <li>
                    <span>Babel</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>Git</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
            </ul>
            <ul class="float right width half list rounded inverted migration to-unfloat w-to-max to-block">
                <li>
                    <span>Visual Studio Code</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>Gulp</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>Heroku</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>Yeoman</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
                <li>
                    <span>Docker</span>
                    <span class="float right">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                    </span>
                </li>
            </ul>
            <div class="clear both"></div>
        </div>
    </article>
</section>
