<section class="section-item bgcolor clouds remove-main-section-padding">
    <div class="title">
        <span class="badge title h2 margined"><i class="fa fa-graduation-cap"></i></span>
        <h1 class="title">{{ 'educations.title' | translate }}</h1>
    </div>

    <article>
        <h2 class="title event">{{ 'educations.master.title' | translate }}</h2>
        <p class="metadata">
            <span class="location"><i class="fa fa-building"></i> {{ 'educations.master.school' | translate }}</span>
            <span
                class="date"><i class="fa fa-calendar"></i> 2016 - 2018</span>
        </p>
        <p class="event content">{{ 'educations.master.text' | translate }}</p>
    </article>

    <article>
        <h2 class="title event">{{ 'educations.licence.title' | translate }}</h2>
        <p class="metadata">
            <span class="location"><i class="fa fa-building"></i> {{ 'educations.licence.school' | translate }}</span>
            <span
                class="date"><i class="fa fa-calendar"></i> 2013 - 2016</span>
        </p>
        <p class="event content">{{ 'educations.licence.text' | translate }}</p>
    </article>

    <article>
        <h2 class="title event">{{ 'educations.bac.title' | translate }}</h2>
        <p class="metadata">
            <span class="location"><i class="fa fa-building"></i> {{ 'educations.bac.school' | translate }}</span>
            <span
                class="date"><i class="fa fa-calendar"></i> 2012 - 2013</span>
        </p>
        <p class="event content">{{ 'educations.bac.text' | translate }}</p>
    </article>
</section>
