@import '../../assets/styles/variables';

#first-page {
    background-image: url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 200;

    #lang-container {
        padding-top: 10px;
        z-index: 300;

        .list.modal {
            padding: 10px 0;
        }
    }

    #image-profile-container {
        position: relative;
        height: 130px;
        width: 150px;
        perspective: 800px;

        @media screen and(max-width: $max-width-small-screen) {
            width: 100px;
            height: 100px;
        }

        #card-image-profile {
            width: 100%;
            height: 100%;
            position: absolute;
            transform-style: preserve-3d;
            transition: transform 1s;

            figure {
                margin: 0;
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -o-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .back {
                -webkit-transform: rotateY( 180deg );
                -moz-transform: rotateY( 180deg );
                -o-transform: rotateY( 180deg );
                transform: rotateY( 180deg );
            }

            &.flipped {
                -webkit-transform: rotateY( 180deg );
                -moz-transform: rotateY( 180deg );
                -o-transform: rotateY( 180deg );
                transform: rotateY( 180deg );
            }
        }
    }

    img.main-image {
        @media screen and(max-width: $max-width-small-screen) {
            width: 100px;
            height: 100px;
        }
    }

    h1#main-title {
        font-size: 50px;
        color: $background-color;
        font-weight: bold;
        padding-bottom: 10px;
        margin-bottom: 0;
        border-bottom: 1px solid rgba( 255, 255, 255, .1 );

        @media screen and(max-width: $max-width-small-screen) {
            font-size: 30px;
            padding-bottom: 15px;
        }
    }

    h2#main-subtitle {
        font-size: 25px;
        margin: 30px 0;
        font-weight: 100;

        @media screen and(max-width: $max-width-small-screen) {
            font-size: 20px;
        }
    }
}
